name: Deploy Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Sync website to EC2
        run: |
          rsync -avz --delete --exclude='.git*' ./ ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ec2-user/DevOpsWeb/
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            sudo chown -R nginx:nginx /home/ec2-user/DevOpsWeb;
            sudo find /home/ec2-user/DevOpsWeb -type d -exec chmod 755 {} \;;
            sudo find /home/ec2-user/DevOpsWeb -type f -exec chmod 644 {} \;;
            sudo nginx -t && sudo systemctl reload nginx
          "
